

<script type="text/javascript">
  var GatedFormConfig = {
   "hideStandardFields": [
          "Work Phone",
          "Department",
          "Job Role",
          "Country"
      ],
      "offer_id": "7016000000129tHAAQ",
      "language": "en",
      "FormTitle": "Join Now",
      "FormIntro": "Fill out this form to opt into the Openshift Commons monthly newsletter.",
      "NameOrder": "western",
      "FormCallToAction": "Submit",
      "ThanksTitle": "Thank you!",
      "ThanksText": "Thank you for your interest in Openshift Commons. Your information has been submitted successfully.",
      "ShowThanksButton": false,
      "leadActivity": "0",
      "disableVisitorContactLookups": false
  };
</script>

<!-- render form here -->
<div id="GatedFormContainer"></div>
